
:root {
  --primary: #849C5D;
  --secondary: #D4B865;
  --dark: #040505;
  --dark-hov: #192222;
  --white: #fff;
}

* {
  font-family:'Lato', sans-serif;
}

.text-dark {
  color: var(--dark);
}

.border-0 {
  border: 0px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.hero-img {
  background-image: url(imgs/dog-portrait-1.png);
  height: 75vw;
  width: 100%;
  background-size: cover;
}

h1 {
  font-weight: 200;
  font-size: 41px;
  color: var(--dark);
}

p {
  font-family: 'STIX Two Text', serif;
  font-style: italic;
  font-weight: 500;
  color: var(--dark);
  line-height: 1.8;
}

.btn {
  border-radius: .1rem!important;
  padding-left: 1.5rem!important;
  padding-right: 1.5rem!important;
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
  text-align: center;
}

.btn-primary {
  color: var(--white);
  background-color: var(--primary);
  border: solid 2px var(--primary);
}

.btn-primary-ghost {
  border: solid 2px var(--primary);
  background: transparent;
  color: var(--primary);
}

.btn-secondary-ghost {
  border: solid 2px var(--secondary);
  background: transparent;
  color: var(--secondary);
}

#paw-print-1::after {
  content: url("data:image/svg+xml, %3Csvg width='41' height='43' viewBox='0 0 41 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_509_187)'%3E%3Cpath d='M22.1013 19.4285C23.7495 20.7244 25.2009 22.2119 26.0399 24.202C26.2186 24.6174 26.1902 25.0406 26.2066 25.4685C26.2347 26.2832 25.9933 27.14 26.5924 27.8695C26.6663 27.9651 26.6808 28.2597 26.6183 28.2938C25.0006 29.2855 24.9634 31.2232 23.9827 32.6032C22.1097 35.2552 19.6371 36.7491 16.3752 36.8827C14.3811 36.9649 12.1424 35.2471 11.1643 32.875C9.89514 29.8188 9.84486 26.7671 11.6988 23.9508C12.8954 22.1308 14.3702 20.4907 16.2236 19.2394C18.2297 17.8934 20.1824 17.7302 22.1042 19.422L22.1013 19.4285ZM14.0251 34.2581C12.7192 32.5714 12.8638 30.6899 12.1478 28.911C11.49 30.8882 12.2717 33.2963 14.0251 34.2581ZM23.0358 22.326C22.4579 23.0622 23.1008 23.4377 23.3714 24.2527C23.5845 23.3209 23.5107 22.8126 23.0358 22.326ZM21.3297 32.7232C21.5315 32.7441 21.66 32.6852 21.6898 32.4651C21.4579 32.4072 21.3565 32.5095 21.3297 32.7232ZM21.0557 33.0669C21.0557 33.0669 20.9725 33.0606 20.9637 33.0799C20.9337 33.1287 20.9166 33.1833 20.896 33.2285C20.9279 33.2273 20.9727 33.232 20.9786 33.219C21.0086 33.1703 21.0227 33.1221 21.0492 33.064L21.0557 33.0669Z' fill='%23D4B865'/%3E%3Cpath d='M28.1494 15.5829C27.4467 16.5587 26.4921 17.5378 24.9221 17.5309C24.587 17.5277 24.2224 17.5035 23.9272 17.3782C21.9668 16.5101 20.8467 12.3531 22.0925 10.6487C23.0473 9.34266 24.2466 8.25587 25.4744 7.24418C27.3174 5.72342 29.4352 6.4523 29.6999 8.77533C29.957 11.0637 30.2171 13.5171 28.1494 15.5829Z' fill='%23D4B865'/%3E%3Cpath d='M16.1603 9.2904C17.2752 10.0733 17.7374 11.3096 17.8742 12.7106C18.0737 14.7472 16.7105 16.3831 14.6582 16.6103C13.9243 16.6922 13.2041 16.7958 12.4845 17.0009C11.604 17.2503 10.6867 16.8757 10.1838 16.2441C9.46651 15.3445 8.90238 14.2803 8.5783 13.1531C8.06996 11.3821 8.92695 9.68936 10.8901 8.47193C12.4731 7.488 14.398 7.76394 16.1603 9.2904Z' fill='%23D4B865'/%3E%3Cpath d='M30.8773 18.409C31.4931 17.7443 31.8353 16.7695 32.8214 16.5288C34.1521 16.2021 35.7192 17.2979 36.0082 18.6741C36.7541 22.2263 35.395 24.8841 32.0214 26.3456C31.259 26.6794 30.3611 26.7262 29.7297 26.1535C28.8207 25.331 28.43 24.2126 28.5771 22.9786C28.7827 21.1868 29.7651 19.7686 30.8744 18.4154L30.8773 18.409ZM31.7735 22.7998C32.4424 22.6887 32.9217 22.3752 32.9987 21.6391C32.5891 22.0229 32.1831 22.416 31.7735 22.7998Z' fill='%23D4B865'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_509_187'%3E%3Crect width='29.6091' height='32.9035' fill='white' transform='matrix(0.911645 0.410978 -0.414454 0.91007 13.637 0)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  width: 100%;
  height: 20px;
  z-index: -1;
  position: relative;
  left: 2.5rem;
  top: -1rem;
}